.footer {
    padding: 1rem 0;
    background-color: black;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__credits {
    display: flex;
    align-items: center;
}

.footer__copyright {
    padding-right: .8rem;
    margin-right: 1rem;
    font-size: .94rem;
    color: #BBBBCC;
    border-right: 1px solid #808080;
}
.footer__social {
    display: flex;
    align-items: center;
}
.footer__nav {
    display: flex;
    align-items: center;
    font-size: .94rem;
}

.footer__nav-link {
    margin-left: 1.5rem;
    color: #BBBBCC;
    text-decoration: none;
}
.footer__nav-link:hover
{
    text-decoration: underline;
}


.footer__nav-link--btn {
    padding: .5rem 1.4rem;
    border-radius: 20px;
    border: 1px solid #BBBBCC;
    line-height: 1.1;
}
.footer__nav-link:hover
{
    text-decoration: none;
    background-color: #BBBBCC;
    border-color: #BBBBCC;
    color: black;
}
